<div class="row">
    <div class="col-xs-12">
        <table>
            <thead>
                <th>
                    <input type="checkbox" class="table-checkbox">
                </th>
                <th *ngFor="let columnName of productColumns"
                    (click)="onSorted(columnName.name)"
                    [ngClass]="isOrderedBy(columnName.name)">{{ columnName.title }}</th>
                <th></th>
            </thead>
            <tbody>
                <app-product-item *ngFor="let product of products | orderBy:orderBy:orderInverse; let i = index"
                                  [product]="product"
                                  [index]="i"></app-product-item>
            </tbody>
        </table>
    </div>
</div>
