<div class="row">
    <div [ngClass]="isFilterOpen ? 'col-xs-10' : 'col-xs-12'" class="table-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <button [ngClass]="isFilterOpen ? 'active' : ''" (click)="isFilterOpen = !isFilterOpen" class="btn btn-default">Filters <i class="glyphicon glyphicon-filter"></i></button>
                    <button class="btn btn-primary"><i class="glyphicon glyphicon-file"></i> Add Product</button>
                    <button class="btn btn-primary-light"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table>
                    <thead>
                    <th>
                        <input type="checkbox" class="table-checkbox">
                    </th>
                    <th *ngFor="let columnName of productColumns"
                        (click)="onSorted(columnName.name)"
                        [ngClass]="isOrderedBy(columnName.name)">{{ columnName.title }}</th>
                    <th></th>
                    </thead>
                    <tbody>
                    <app-product-item *ngFor="let product of products | orderBy:orderBy:orderInverse ; let i = index"
                                      [product]="product"
                                      [columns]="productColumns"
                                      [index]="i"></app-product-item>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <nav aria-label="Page navigation" style="text-align: center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <app-product-filters (closeFilters)="isFilterOpen = false" *ngIf="isFilterOpen" class="col-xs-2">></app-product-filters>
</div>

