.form-group {
    background-color: white;
    padding: 10px 0px;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}
form button[type="submit"]{
    margin-bottom: 30px;
}
input.ng-invalid {
    border: 1px solid red;
}
.form-group.ng-invalid {
    -webkit-box-shadow: 0px 1px 5px 1px rgba(194, 0, 0, 0.8);
    -moz-box-shadow: 0px 1px 5px 1px rgba(194, 0, 0, 0.8);
    box-shadow: 0px 1px 5px 1px rgba(194, 0, 0, 0.8);
    -webkit-transition: box-shadow 250ms;
    -moz-transition: box-shadow 250ms;
    -ms-transition: box-shadow 250ms;
    -o-transition: box-shadow 250ms;
    transition: box-shadow 250ms;
}
.form-group.ng-invalid input {
    border: 1px solid red;
}