<div class="row box">
  <div class="col-xs-12">
    <h5 style="text-align: center" class="row">
      <span class="glyphicon glyphicon-remove"
            style="color:#888; cursor: pointer"
            (click)="onClose()"></span>
    </h5>
    <div class="row">
      <p>
        <b>Filters</b>
        <a class="pull-right" style="cursor: pointer" (click)="onClear()">clear</a>
      </p>
    </div>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="productCodeFilter">Code</label>
          <input id="productCodeFilter"
                 formControlName="productCode"
                 type="text"
                 class="form-control"
                 placeholder="Enter code">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="productNameFilter">Name</label>
          <input id="productNameFilter"
                 formControlName="productName"
                 type="text"
                 class="form-control"
                 placeholder="Enter name">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <label for="productDescriptionFilter">Description</label>
          <input id="productDescriptionFilter"
                 formControlName="productDescription"
                 type="text"
                 class="form-control"
                 placeholder="Enter description">
        </div>
      </div>
      <div class="form-group row" formGroupName="cost">
        <label class="col-xs-12">Cost</label>
        <div class="col-xs-6">
          <input id="productCostMinFilter"
                 formControlName="from" type="text" min="0" class="form-control" placeholder="From">
        </div>
        <div class="col-xs-6">
          <input id="productCostMaxFilter"
                 formControlName="to" type="text" min="0" class="form-control" placeholder="To">
        </div>
      </div>
      <div class="form-group row" formGroupName="stock">
        <label class="col-xs-12">Stock count</label>
        <div class="col-xs-6">
          <input id="productStockMinFilter"
                 formControlName="from" type="text" min="0" class="form-control" placeholder="From">
        </div>
        <div class="col-xs-6">
          <input id="productStockMaxFilter"
                 formControlName="to" type="text" min="0" class="form-control" placeholder="To">
        </div>
      </div>
      <div class="form-group row" formGroupName="discontinued">
        <div class="col-xs-12">
          <input type="checkbox" formControlName="isOn" id="filterByDiscontinuedFilter">
          <label for="productIsDiscontinuedFilter" >Filter by Discontinued</label>
          <br>
          <div *ngIf="filterForm.get('discontinued.isOn').value">
            <input type="checkbox" formControlName="isDiscontinued" id="productIsDiscontinuedFilter">
            <label for="productIsDiscontinuedFilter" style="font-weight: normal">is Discontinued</label>
            <div *ngIf="filterForm.get('discontinued.isDiscontinued').value">
              <label>From</label>
              <my-date-picker [options]="{dateFormat: 'yyyy-mm-dd', alignSelectorRight: true}"
                              formControlName="from"></my-date-picker>
              <label>To</label>
              <my-date-picker [options]="{dateFormat: 'yyyy-mm-dd', alignSelectorRight: true}"
                              formControlName="to"></my-date-picker>
            </div>
          </div>
        </div>
      </div>
      <button  type="submit" [disabled]="!filterForm.valid" class="btn btn-success col-xs-6 col-xs-offset-3">Apply</button>
    </form>
  </div>
</div>
