/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FBFBFB;
    color: #41525b;
}
input[type='checkbox'].table-checkbox {
    margin: 0 auto;
    height: 12px;
    display: block;
}
i.text-icon.glyphicon {
    margin-right: 8px;
    margin-left: -8px;
    color: #90A4AE;
}
.dropdown-menu {
    border: none;
    -webkit-box-shadow: 0px 7px 60px -10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 7px 60px -10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 7px 60px -10px rgba(0, 0, 0, 0.25);
}

.btn-primary {
    background-color: #27A8F8;
    border-color: #27A8F8;
}
.btn-primary-light {
    background-color: #DCEFF9;
    border-color: #DCEFF9;
    color: #109FF8;
}

.loader-spinner {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation:spin 800ms linear infinite;
    -moz-animation: spin 800ms linear infinite;
    -o-animation:spin 800ms linear infinite;
    animation:spin 800ms linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal-md {
    width: 420px;
}